@tailwind base;
@tailwind components;
@tailwind utilities;

.but {
	background-color: white;
	color: #8b008b;
	transition: all ease 0.5s;
	font-weight: 600;
}
.hedu {
	background-color: #8b008b;
}
.heding {
	color: #8b008b;
}

.but:hover {
	box-shadow: 8px 8px 0px #460146;
}
.navs {
	cursor: pointer;
}

.navs:hover {
	/* color: #e6c2e6; */
	color: #430843;
}
.icon {
	color: white;
}

.icon:hover {
	color: #54022e;
}

.product {
	box-shadow: 31px 31px 49px #b5b5b5, -31px -31px 49px #ffffff;
}

.select {
	background-color: #8b008b;
}
.option {
	background-color: white;
	color: #8b008b;
}
.buto {
	background-color: #8b008b;
	color: white;
}
.buto:hover {
	background-color: #db54db;
}
.order {
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow: 37px 37px 76px #a6a6a6, -37px -37px 76px #ffffff;
}
