@tailwind base;
@tailwind components;
@tailwind utilities;

.but {
	background-color: white;
	color: #8b008b;
	transition: all ease 0.5s;
	font-weight: 600;
}
.hedu {
	background-color: #8b008b;
}
.heding {
	color: #8b008b;
}

.but:hover {
	box-shadow: 8px 8px 0px #460146;
}
.navs {
	cursor: pointer;
}

.navs:hover {
	/* color: #e6c2e6; */
	color:#430843;
}
.icon {
	color: white;
}

.icon:hover {
	color: #54022e;
}

.product {
	box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.237),
		inset -20px -20px 60px rgba(255, 255, 255, 0.253);
}

.select {
	background-color: #8b008b;
}
.option {
	background-color: white;
	color: #8b008b;
}
