@tailwind base;
@tailwind components;
@tailwind utilities;

.but {
	color: white;
	background-color: #8b008b;
	transition: all ease 0.5s;
	font-weight: 600;
}
.hedu {
	background-color: white;
}
.heding {
	color: #8b008b;
}

.but:hover {
	box-shadow: 8px 8px 0px #460146;
}
.navs {
	cursor: pointer;
	color: #8b008b;
}

.navs:hover {
	color: #fc1bfc;
}
.icon {
	color: #8b008b;
}

.icon:hover {
	color: #ff18ff;
}

.product {
	box-shadow: 37px 37px 76px #a6a6a6, inset -37px -37px 76px #ffffff;
}

.select {
	background-color: white;
	color: #8b008b;
}
.option {
	background-color: white;
	color: #8b008b;
}
.buto {
	background-color: #8b008b;
	color: white;
}
.buto:hover {
	background-color: #db54db;
}

@media screen and (min-width: 786px) {
	.order {
		background: linear-gradient(145deg, #f0f0f0, #cacaca);
		box-shadow: 37px 37px 76px #a6a6a6, -37px -37px 76px #ffffff;
	}
}

.banner {
	background-color: #8b008b;
}
.toggle {
	color: #8b008b;
}

.low {
	background-color: #8b008b;
}

.ban {
	background-color: #ff05ff;
}
.zoom {
	object-fit: cover;

	max-width: 100%;
	aspect-ratio: 6/9;
}
.zoom:hover {
	transform: scale(1.2);
	transition: ease all 0.2s;
}
